<%= form_for(@inventory) do |f| %>
  <% if @inventory.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@inventory.errors.count, "error") %> prohibited this inventory from being saved:</h2>

      <ul>
      <% @inventory.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :title, class: 'control-label' %><br>
    <%= f.text_field :title, class: 'form-control' %>
  </div>
  <div class="control-group">
    <%= f.label :qty, class: 'control-label' %><br>
    <%= f.number_field :qty, class: 'form-control' %>
  </div>
  
  <hr>

  <div class="form-group">
    <%= f.submit "Add A New Inventory Item", class: 'btn btn-success btn-block', data: { disable_with: "Adding New Item..." } %>
  </div>
<% end %>
