<div class="row">
  <div class="col-md-1 column"></div>

  <div class="col-md-10 column">
    <%= form_for(@inventory_selection) do |f| %>
      <% if @inventory_selection.errors.any? %>
        <div id="error_explanation" class="alert alert-danger">
          <p><%= pluralize(@inventory_selection.errors.count, "error") %> prohibited this inventory_selection from being saved:</p>

          <ul>
          <% @inventory_selection.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="control-group">
        <%= f.label :inventory_id, class: 'control-label' %>
        <div class="controls">
          <%= collection_select(:inventory_selection, :inventory_id, Inventory.all, :id, :title, {}, { :multiple => false } ) %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :qty %><br>
        <%= f.text_field :qty, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= hidden_field_tag :ticket_id, params[:ticket_id].to_i %>
        <%= f.submit "Add Item", class: 'btn btn-success btn-block', data: { disable_with: "Adding Item to Ticket..." } %>
      </div>
    <% end %>
  </div>

  <div class="col-md-1 column"></div>
</div>