<div class="row">
  <div class="col-md-1 column"></div>

  <div class="col-md-10 column">
    <%= form_for(@ticket) do |f| %>
      <% if @ticket.errors.any? %>
        <div id="error_explanation" class="alert alert-danger">
          <p><%= pluralize(@ticket.errors.count, "error") %> prohibited this ticket from being saved:</p>

          <ul>
          <% @ticket.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group">
        <%= f.label :title %><br>
        <%= f.text_field :title, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :description %><br>
        <%= f.text_area :description, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :hours %><br>
        <%= f.text_field :hours, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :mileage %><br>
        <%= f.text_field :mileage, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :customer %><br>
        <%= f.text_field :customer, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.submit "Submit Ticket", class: 'btn btn-success btn-block', data: { disable_with: "Submitting Ticket..." } %>
      </div>
    <% end %>
  </div>

  <div class="col-md-1 column"></div>
</div>