<p>
  <strong>Title:</strong>
  <%= @ticket.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @ticket.description %>
</p>

<p>
  <strong>Hours:</strong>
  <%= @ticket.hours %>
</p>

<p>
  <strong>Mileage:</strong>
  <%= @ticket.mileage %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @ticket.customer %>
</p>

<p>
  <strong>Status:</strong>
  <%= @ticket.ticket_status %>
</p>

<% if @inventory_selections.count > 0 %>
  <div class="well">
    <h3>Items used for the ticket</h3>
    <% @inventory_selections.each do |item| %>
      <p><strong><%= item.inventory.title %></strong> Qty: <span><%= item.qty %></span> <%= link_to '<i class="fa fa-times"></i>'.html_safe, item, method: :delete, data: { confirm: 'Are you sure?' } %></p>
    <% end %>
  </div>
<% end %>

<hr>

<%= link_to 'Add Item to Ticket', new_inventory_selection_path(ticket_id: @ticket.id), class: "btn btn-primary btn-block" %>

<br>

<%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<%= link_to 'Back', tickets_path %>
